html {
	scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p {
	margin: 0 !important;
	padding: 0 !important;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
	box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

header {
    background: rgb(99,104,225);
    background: linear-gradient(180deg, rgba(99,104,225,1) 0%, rgb(253, 196, 129) 100%);
    z-index: 1;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-weight: 700;
    font-size: 30px;
}

.nav {
    margin-top: 14px;
    margin-bottom: 80px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 60px;
}

.nav-link:hover {
    opacity: 1;
    transition: all 0.1s linear;
    border-bottom: 2px solid #ffffff;
}
.burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 15px 0;
}

.burger-item {
    display: block;
    width: 30px;
    height: 2.6px;
    background-color: #fff;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger-item:before,
.burger-item:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.burger-item:before {
    top: -8px;
}

.burger-item:after {
    bottom: -8px;
}

.intro-info {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.intro-title {
    font-weight: 700;
    font-size: 60px;
    width: 620px;
    margin-top: 50px;
}

.intro-subtitle {
    font-weight: 500;
    font-size: 42px;
    margin: 40px 0;
}

.intro-text {
    font-weight: 500;
    font-size: 22px;
    width: 560px;
    color: #B54100;
    margin-bottom: 50px;
}

.intro-btn {
    display: block;
	text-decoration: none;
    position: relative;
    color: #fff;
    background-color: #FF3535;
	text-align: center;
    width: 300px;
	padding: 18px 0;
    border-radius: 50px;
	font-size: 23px;
    font-weight: 500;
    overflow: hidden;
    transition: all 0.5s ease;
}

.intro-btn.prog {
    margin-left: 950px;
    margin-top: 30px;
}

.intro-btn:hover {
    background: #d30707;
    cursor: pointer;
}

.intro-btn:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    z-index: 5;
    background: linear-gradient(90deg, rgba(255, 195, 65, 0.4),rgba(231, 157, 20, 0.4));
    filter: blur(10px);
    transform: translateX(-60px) skew(-45deg);
    animation: move 3s .5s infinite;
}
@keyframes move {
    0% {
        left: 0%;
        transform: translateX(-60px) skew(-45deg);
    }
    100% {
        left: 150%;
        transform: translateX(400px) skew(-45deg);
    }
}

.span-s {
    color: #FF0000;
    font-size: 36px;
    line-height: 30px;
}

.intro-img {
    height: 560px;
    margin-right: 50px;
}
.intro-image {
    height: 560px;
}

.badge {
    height: 40px;
}

.badge.c1 {
    height: 45px;
    transform: translateX(-1300%) rotate(-20deg);
    top: 100px;
    position: absolute;
}
.badge.c2 {
    transform: translateX(-750%) rotate(20deg);
    top: 50px;
    position: absolute;
}
.badge.c3 {
    transform: translateX(-500%) rotate(30deg);
    top: 150px;
    position: absolute;
}
.badge.c4 {
    transform: translateX(-1270%) rotate(-20deg);
    top: 210px;
    position: absolute;
}
.badge.c5 {
    transform: translateX(-1150%) rotate(-40deg);
    top: 290px;
    position: absolute;
}
.badge.c6 {
    height: 45px;
    transform: translateX(-750%) rotate(40deg);
    top: 300px;
    position: absolute;
}

.span-hr {
    width: 100%;
    height: 1px;
    display: block;
    background-color: #706E6E;
}

.about-sect {
    background: url(img/bg-me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	width: 100%;
	height: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}


.title-me {
    color: #000000;
    border: 2px solid #000000;
    width: 260px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    font-weight: 500;
    border-radius: 20px;
    font-size: 26px;
}

.me-inst {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
}

.me-inst:hover {
    text-decoration: underline;
}

.inst-me {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.about-all {
    display: flex;
    justify-content: space-between;
}

.about-info1, .about-info2, .about-info3 {
    text-align: center;
}

.about-info1 {
    margin-left: 140px;
}
.about-info3 {
    margin-right: 140px;
}

.about-inform {
    margin: 0 0 40px 0;

}

.img-info1 {
    height: 40px;
    transform: translate(300%,135%);
}
.img-info2 {
    height: 30px;
    transform: translate(420%,160%);
}
.img-info3 {
    height: 35px;
    transform: translate(360%,150%);
}
.img-info4 {
    height: 35px;
    transform: translate(370%,150%);
}

.img-meinfo {
    height: 370px;
    border: 2px solid #000000;
    border-radius: 30px;
    margin-top: 60px;
}

.inform {
    color: #000000;
    border: 2px solid #000000;
    width: 310px;
    padding: 20px 25px;
    height: 165px;
    border-radius: 30px;
    text-align: left;
    font-weight: 300;
    font-size: 20px;
}

.section {
    background-image: url("img/bg-prog.png"), linear-gradient(180deg, rgba(254,231,203,1) 0%, rgba(255,244,232,1) 100%);
    background-size: cover;
	width: 100%;
	height: 100%;
    padding-bottom: 100px;
}

.block-name {
    color: black;
    font-size: 32px;
    font-weight: 500;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 80px;
}

.block-title {
    font-size: 22px;
    font-weight: 500;
    margin-right: 20px;
    margin-top: -5px;
}


.block {
    display: flex;
    margin-left: 360px;
    color: black;
    font-weight: 300;
}

.circle {
    height: 18px;
    margin-right: 20px;
}

.block-text {
    margin-left: 20px;
    font-size: 20px;
}

.line-span {
    display: block;
    width: 4px;
	height: 130px;
	background-color: #B5B5B5;
	margin-left: -31px;
    margin-top: 20px;
    margin-bottom: 2px;
}
.line-spannew {
    
	margin-left: -31px;
    margin-top: 20px;
    margin-bottom: 2px;
}

.bonus {
    color: black;
    font-weight: 500;
    margin-left: 900px;
    margin-top: 60px;
    padding: 30px 40px;
    background-color: #CAA2CE;
    border-radius: 30px;
    filter: drop-shadow(10px 10px 4px #8f8f8f);
    margin-top: -153px;
    font-size: 20px;
}

.spanbonus {
    display: block;
    width: 4px;
	height: 146px;
	background-color: #ebee28;
    position: absolute;
    margin-top: -3px;
    margin-left: -12px;
}

.passing {
    background: rgb(194,186,244);
    background: linear-gradient(90deg, rgba(194,186,244,1) 0%, rgba(237,218,203,1) 100%);
    padding-top: 50px;
}

.title-pass {
    color: black;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 70px;
}

.pass-all {
    display: flex;
    justify-content: space-between;
}

.pass-img {
    height: 500px;
}
.exclamation {
    height: 100px;
    position: absolute;
    top: 2580px;
    transform: translateX(-1100%);
}
.checkmark {
    height: 22px;
    margin-right: 10px;
}

.pass-benefits {
    background-color: #CAA2CE;
    border-radius: 30px;
    height: 350px;
    width: 700px;
    margin-top: 50px;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.15));
}

.benefit {
    display: flex;
    margin: 30px 0 30px 30px;
}

.pass-text {
    color: black;
    font-size: 21px;
    font-weight: 300;
}

.passes {
    background: url(img/bg-pas.png);
    background-size: cover;
    background-attachment: fixed;
	width: 100%;
	height: 100%;
    padding-top: 80px;
}

.title-passes {
    color: #000000;
    border: 2px solid #000000;
    width: 350px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    font-weight: 500;
    border-radius: 20px;
    font-size: 26px;
    margin-bottom: 70px;
}

.paragraphs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.paragraph {
    color: #000000;
    border: 2px solid #000000;
    padding: 20px 0;
    width: 333px;
    border-radius: 15px;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 70px;
    padding-left: 35px;
}

.paragraph__text {
    text-align: left;
}

.tariff-all {
    background-color: #FFE6C8;
    position: relative;
}
.tariff-back {
    height: 500px;
}
.tariff-bg {
    position: absolute;
    top: 200px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.card {
    color: black;
    margin-top: -250px;
}

.container .card .face{
    width: 350px;
    height: 320px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #FFE6C8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(220px);
}

.container .card:hover .face.face1{
    background: #5e97b8;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 1.0;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 150px;
}

.text-tariff {
    color: black;
    text-align: center;
}
.price-tariff {
    color: red;
    text-align: center;
}
.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.title-tariff {
    color: black;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 70px;
    padding-top: 50px;
}

.text-tariff {
    font-size: 24px;
    font-weight: 500;
}

.price-tariff {
    font-size: 30px;
    font-weight: 500;
}

.img-tariff.rock {
    margin-bottom: 40px;
}

.buy-btn {
    display: block;
	text-decoration: none;
    position: relative;
    color: #fff;
    background-color: #FF3535;
	text-align: center;
    width: 150px;
	padding: 15px 0;
    border-radius: 50px;
	font-size: 23px;
    font-weight: 500;
    overflow: hidden;
    transition: all 0.5s ease;
    margin-top: 20px;
}

.buy-btn:hover {
    background: #d30707;
    cursor: pointer;
}

.buy-btn:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    z-index: 5;
    background: linear-gradient(90deg, rgba(255, 195, 65, 0.4),rgba(231, 157, 20, 0.4));
    filter: blur(10px);
    transform: translateX(-60px) skew(-45deg);
    animation: move 3s .5s infinite;
}
@keyframes move {
    0% {
        left: 0%;
        transform: translateX(-60px) skew(-45deg);
    }
    100% {
        left: 150%;
        transform: translateX(400px) skew(-45deg);
    }
}

.instagram, .whatsapp {
    height: 55px;
}
.instagram{
    margin-right: 20px;
}

.footer-title {
    font-size: 30px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.img-call {
    text-align: center;
}
.buy {
    display: flex;
    justify-content: space-between;
}
.price-buy {
    margin-top: 30px;
    color: red;
    font-weight: 500;
    font-size: 28px;
}
.img-tabl {
    display: none;
}
.paragraph-tabl, .title-tabl {
        display: none;
}
.badges-mob {
    display: none;
}	
.img-call {
    padding-bottom: 20px;
}
@media screen and (max-width: 1350px) {
    .head {
		margin: 0 -30px;
	}
	.container {
		width: 100%;
		max-width: 960px;
		padding-left: 0;
		padding-right: 0;
	}
    .nav-link {
        margin-left: 45px;
    }
    .intro-img {
        margin-right: 0;
    }
    .intro-title {
        font-size: 55px;
        width: 460px;
    }
    .intro-subtitle {
        width: 460px;
    }
    .intro-text {
        width: 460px;
    }
    .badge.c1 {
        transform: translateX(-1000%) rotate(-20deg);
    }
    .badge.c2 {
        transform: translateX(-400%) rotate(20deg);
    }
    .badge.c3 {
        transform: translateX(-200%) rotate(30deg);
    }
    .badge.c4 {
        transform: translateX(-900%) rotate(-20deg);
        top: 240px;
    }
    .badge.c5 {
        transform: translateX(-630%) rotate(-40deg);
        top: 340px;
    }
    .badge.c6 {
        transform: translateX(-300%) rotate(40deg);
        top: 360px;
    }
    .about-info1 {
        margin-left: 0;
    }
    .about-info3 {
        margin-right: 0;
    }
    .block {
        margin-left: 190px;
    }
    .bonus {
        width: 410px;
        margin-left: 270px;
        margin-top: 20px;
    }
    .spanbonus {
        height: 124px;
    }
    .intro-btn.prog {
        margin-left: 335px;
    }
    .exclamation {
        transform: translateX(-790%);
        top: 2725px;
    }
    .container.pass {
        width: 960px;
    }
    .container .card .face {
        width: 309px;
        height: 370px;
    }
    .container .card .face.face1 {
        transform: translateY(270px);
    }
    .img-tabl {
        display: none;
    }
    .paragraph-tabl, .title-tabl {
        display: none;
    }
    .paragraph {
        width: 301px;
    }
    .badges-mob {
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    .about-sect {
        background-attachment: scroll;
    }
    .passes {
        background-attachment: scroll;
    }
    .container {
        width: 100%;
		max-width: 769px;
    }
    .container-tabl {
        width: 100%;
		max-width: 769px;
        margin: 0 auto;
    }
    .intro-title {
        font-size: 55px;
        width: 375px;
    }
    .intro-subtitle {
        width: 375px;
        font-size: 34px;
    }
    .intro-text {
        width: 375px;
        font-size: 20px;
    }
    .intro-btn {
        margin-bottom: 80px;
    }
    .intro-image {
        transform: translate(-12%, 28%);
    }
    .intro-img {
        height: 425px;
    }
    .about-info2 {
        display: none;
    }
    .about-info1 {
        margin-left: 20px;
        margin-bottom: 100px;
    }
    .about-info3 {
        margin-right: 20px;
    }
    .img-tabl {
        display: block;
        margin-top: -630px;
        text-align: center;
    }
    .img-meinfotabl {
        height: 300px;
        border: 2px solid #000000;
        border-radius: 30px;
    }   
    .about-inform.one {
        margin-bottom: 320px;
    }
    .about-inform.three {
        margin-bottom: 320px;
    }
    .about-sect {
        padding-bottom: 225px;
    }
    .block-text {
        font-size: 18px;
        width: 465px;
    }
    .block {
        margin-left: 125px;
    }
    .bonus {
        font-size: 19px;
        margin-left: 205px;
    }
    .spanbonus {
        height: 117px;
    }
    .intro-btn.prog {
        margin-left: 260px;
    }
    .benefit {
        margin: 30px 24px 30px 30px;
    }
    .pass-text {
        font-size: 18px;
    }
    .pass-benefits {
        width: 385px;
        height: 385px;
        margin-right: 30px;
    }
    .exclamation {
        transform: translateX(-741%);
        top: 2907px;
        height: 80px;
    }
    .title-tabl {
    display: block;
    color: #000000;
    border: 2px solid #000000;
    width: 350px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    font-weight: 500;
    border-radius: 20px;
    font-size: 26px;
    margin-bottom: 70px;
    }
    .intro-image {
        height: 425px;
    }
    .paragraphs {
        margin: 0 10px;
    }
    .container .card .face.face1{
        transform: translateY(-100px);
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
    }
    .card:last-child {
        margin: 0 auto;
        margin-top: 90px;
    }
    .card {
        margin-top: 130px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .container .card .face.face1 {
        background: #89b5ce;
        border-radius: 20px 20px 0 0;
    }
    .container .card .face.face2{
        border-radius: 0 0 20px 20px;
    }
    .buy-btn.one {
        margin-top: 165px;
    }
    .price-buy.one {
        margin-top: 175px;
    }
    .buy-btn.three {
        margin-top: 145px;
    }
    .price-buy.three {
        margin-top: 157px;
    }
    .intro-img, .intro-image {
        margin-right: 1px;
    }
    .badges {
        display: none;
    }
    .tariff-back {
        transform: translateY(120%);
    }
    .badges-mob {
        display: block;
    }
    .badge {
        position: absolute;
    }
    .badge.h1 {
        transform: translateX(-900%) rotate(-30deg);
        top: 100px;
    }
    .badge.h2 {
        transform: translateX(-480%) rotate(20deg);
        top: 140px;
    }
    .badge.h3 {
        transform: translateX(-900%) rotate(-30deg);
        top: 250px;
    }
    .badge.h4 {
        transform: translateX(-355%) rotate(20deg);
        top: 280px;
    }
    .badge.h5 {
        transform: translateX(-800%) rotate(-30deg);
        top: 350px;
    }
    .badge.h6 {
        transform: translateX(-400%) rotate(20deg);
        top: 360px;
    }
    .header-logo {
        width: 200px;
    }
    .nav-link {
        margin-left: 22px;
    }
}

@media screen and (max-width: 767px) {
    .container {
		width: 100%;
		max-width: 576px;
	}
    .header-logo {
        color: #ffffff;
    }
    .headall {
        position: fixed;
        z-index: 10;
        width: 100%;
        background: #96c4dff1;
        top: 0;
        left: 0;
        padding: 7px 0;
    }
    .header {
        padding-top: 0px;
    }
    .title {
        padding-top: 85px;
    }
    .nav {
        position: absolute;
        right: 0;
        left: 0;
        top: -900%;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #cbdde7;
        padding: 10px 120px;
        line-height: 30px;
        transition: all 0.3s linear;
    }
    .header-logo {
        margin-left: 20px;
    }
    .nav.show {
        top: 84%;
    }
    .nav-link {
        margin: 15px 20px;
        font-size: 20px;
        font-weight: 500;
        width: 100px;
        text-align: center;
        color: black;
    }
    .burger {
        display: block;
        margin: 0 30px 0 0;
    }
    .intro-all {
        z-index: 3;
    }
    .intro-image {
        transform: translate(-121%, 63.8%);
        z-index: 2;
    }
    .intro-text {
        color: #000000;
    }
    .badge.h1 {
        transform: translateX(-930%) rotate(-30deg);
        top: 250px;
        opacity: 0.8;
    }
    .badge.h2 {
        transform: translateX(-870%) rotate(20deg);
        top: 385px;
    }
    .badge.h3 {
        transform: translateX(-1400%) rotate(-30deg);
        top: 505px;
        z-index: 2;
        opacity: 0.9;
    }
    .badge.h4 {
        transform: translateX(-1355%) rotate(-20deg);
        top: 236px;
        opacity: 0.8;
    }
    .badge.h5 {
        transform: translateX(-1800%) rotate(-40deg);
        top: 405px;
        opacity: 0.9;
    }
    .badge.h6 {
        transform: translateX(-1400%) rotate(20deg);
        top: 360px;
        opacity: 0.8;
    }
    .intro-image {
        opacity: 0.4;
        transform: translate(-57%, 63.8%);
    }
    .about-all {
        display: block;
    }
    .about-inform.one {
        margin-bottom: 1px;
    }
    .about-inform.three {
        margin-bottom: 1px;
    }
    .inform {
        margin: 0 auto;
    }
    .about-info1 {
        margin-left: auto;
    }
    .about-info3 {
        margin-right: auto;
        margin-top: 300px;
    }
    .img-tabl {
        margin-top: -728px;
        margin-bottom: 325px;
    }
    .about-sect {
        padding-top: 100px;
    }
    .block-name {
        padding-top: 100px;
    }
    .intro-title {
        margin-top: 200px;
    }
    .bonus {
        margin-left: 86px;
    }
    .block-text {
        font-size: 16px;
    }
    .block-title {
        width: 77px;
        margin-left: -15px;
    }
    .block {
        margin-left: 42px;
    }
    .intro-btn.prog {
        margin-left: 145px;
    }
    .pass-img {
        height: 420px;
        transform: translateY(12.6%);
    }
    .pass-text {
        font-size: 16px;
    }
    .pass-benefits {
        height: 423px;
        transform: translateY(-15%);
    }
    .exclamation {
        top: 3760px;
        transform: translateX(-800%);
    }
    .paragraph {
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .passing {
        padding-top: 100px;
    }
    .title-tariff {
        padding-top: 100px;
    }
    .card:last-child {
        margin-top: 100px;
    }
    .card {
        margin: 0 auto;
        margin-top: 100px;
    }
    .buy-btn {
        padding: 10px 0;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
		max-width: 320px;
    }
    .intro-title {
        margin-top: 120px;
        font-size: 37px;
        width: 300px;
    }
    .intro-subtitle {
        font-size: 22px;
        width: 300px;
    }
    .span-s {
        font-size: 26px;
    }
    .intro-btn {
        width: 190px;
        font-size: 18px;
    }
    .intro-text {
        width: 300px;
        font-size: 14px;
    }
    .intro-image {
        transform: translate(-100%, 76%);
        height: 310px;
    }
    .intro-img {
        height: 310px;
    }
    .badge.h1 {
        transform: translateX(-914%) rotate(20deg);
        top: 236px;
        opacity: 0.6;
    }
    .badge.h2 {
        transform: translateX(-1000%) rotate(20deg);
        top: 411px;
    }
    .badge.h3 {
        transform: translateX(-1400%) rotate(-30deg);
        top: 490px;
        z-index: 2;
        opacity: 0.6;
    }
    .badge.h4 {
        transform: translateX(-1255%) rotate(-20deg);
        top: 268px;
        opacity: 0.6;
        z-index: 2;
    }
    .badge.h5 {
        transform: translateX(-1420%) rotate(-30deg);
        top: 208px;
        opacity: 0.6;
    }
    .badge.h6 {
        transform: translateX(-1400%) rotate(-20deg);
        top: 360px;
        opacity: 0.6;
        z-index: 2;
    }
    .header-logo {
        font-size: 24px;
    }
    .headall {
        padding: 15px 0;
    }
    .nav.show {
        top: 76%;
    }
    .bonus {
        font-size: 16px;
        width: 226px;
        margin-left: 58px;
    }
    .intro-btn.prog {
        margin-left: 80px;
    }
    .pass-benefits {
        transform: translate(-108%,-15%);
        width: 218px;
    }
    .title-passes {
        width: 300px;
    }
    .block-text {
        width: 160px;
    }
    .tariff-back {
        width: 300px;
    }
    .title-me {
        width: 240px;
    }
    .inform {
        width: 260px;
        font-size: 18px;
        height: 148px;
    }
    .img-info1 {
        transform: translate(250%,135%);
    }
    .img-info2 {
        transform: translate(340%,160%);
    }
    .img-info3 {
        transform: translate(290%,150%);
    }
    .img-info4 {
        transform: translate(305%,150%);
    }
    .about-sect {
        padding-top: 70px;
        padding-bottom: 120px;
    }
    .img-tabl {
        margin-top: -710px;
    }
    .about-inform {
        margin: 0 0 56px 0;
    }
    .block {
        margin-left: 20px;
    }
    .line-span {
        height: 207px;
    }
    .block-title {
        width: auto;
        margin-right: 5px;
        font-size: 18px;
        margin-top: -1px;
    }
    .block-text {
        width: 200px;
    }
    .spanbonus {
        height: 183px;
    }
    .section {
        padding-bottom: 10px;
    }
    .benefit {
        margin: 30px 24px 30px 30px;
    }
    .pass-benefits {
        width: 275px;
        transform: translate(8%,-15%);
    }
    .pass-text {
        width: 200px;
    }
    .exclamation {
        display: none;
    }
    .pass-img {
        display: none;
    }
    .title-passes {
        width: 280px;
    }
    .paragraph {
        font-size: 18px;
        width: 250px;
        padding-left: 25px;
    }
    .container .card .face {
        width: 260px;
    }
    .container .card .face.face2 .content p {
        font-size: 17px;
        margin-top: 10px !important;
    }
    .buy-btn.three {
        margin-top: 134px !important;
    }
    .price-buy.one {
        margin-top: 168px;
    }
    .price-buy.three {
        margin-top: 147px !important;
    }
    .price-buy {
        font-size: 26px;
        margin-top: 33px;
        margin-left: 10px;
    }
    .buy-btn.one {
        margin-top: 153px;
    }
    .container .card .face.face1 .content img {
        display: none;
    }
    .container .card .face.face1 {
        height: 170px;
    }
} 